rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write for all users (or authenticated users)
      allow read, write: if true;
    }
  }
}
